#jordans-1 {
    height: 400px;
    width: 600px;
    color: yellow;
    font-style: oblique;
}

#jordans-2 {
    height: 400px;
    width: 600px;
    color: red;
    size: 0.7;
    font-style: normal;
}

#jordans-1-desc {
    background-color: beige;
}

h1{
    background-color: beige;
}

#jordans-2-desc {
    background-color: rgb(110, 110, 14);
}
body {
    background-image: url('https://i.pinimg.com/236x/d6/3f/56/d63f563519df0ece564b82c72e9e306c.jpg');
}